.coffee-list-item-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 260px;
  width: 230px;
  padding: 37px 20px 20px 20px;
  background: white;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.coffee-list-item-container:hover{
  background-color:rgb(202, 191, 170);
  transition: all 0.3s ease;
}
.coffee-list-item-img {
  max-width: 100%;
  
}